Repository Sidnioulz/figmarine: changes, and which Codecov flags are due for each by the changed paths.
All: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

codecov.yml:

component_management:
  default_rules:
    paths:
      - "apps/*"
      - "packages/*"

flags:
  pkg-cache:
    paths:
      - packages/cache/
  pkg-eslint-plugin-figma:
    paths:
      - packages/eslint-plugin-figma/
  pkg-logger:
    paths:
      - packages/logger/
  pkg-rest:
    paths:
      - packages/rest/

fix(ci): Harden the Dependabot automerge and release chain
  .github/actions/setup-repo/action.yml
  .github/dependabot.yml
  .github/workflows/automerge-dependabot.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/semantic-release.yml
  docs/RELEASE_AUTOMATION.md
  packages/cache/package.json
  packages/cuttings/package.json
  packages/eslint-plugin-figma/package.json
  packages/logger/package.json
  packages/rest/package.json
  packages/rest/scripts/regenFigmaRestApi.mjs
  turbo.json
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

feat(rest): Update to Figma OpenAPI spec 0.41 and fix release automation
  .github/dependabot.yml
  .github/workflows/automerge-dependabot.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/semantic-release.yml
  README.md
  docs/RELEASE_AUTOMATION.md
  package.json
  packages/cache/package.json
  packages/cuttings/package.json
  packages/eslint-plugin-figma/package.json
  packages/logger/package.json
  packages/rest/package.json
  packages/rest/scripts/regenFigmaRestApi.mjs
  packages/rest/src/__generated__/Api.ts
  packages/rest/src/__generated__/figmaRestApi.ts
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/client.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

feat(cuttings): Export log helpers and add a codecov flag
  codecov.yml
  packages/cuttings/src/__tests__/index.spec.ts
  packages/cuttings/src/index.ts
Due: none

test(cuttings): Record real API fixtures and close coverage gaps
  packages/cuttings/scripts/fetchFixtures.mjs
  packages/cuttings/src/__fixtures__/api/error-states/GetFile.json
  packages/cuttings/src/__fixtures__/api/error-states/GetFileComponentSets.json
  packages/cuttings/src/__fixtures__/api/error-states/GetFileComponents.json
  packages/cuttings/src/__fixtures__/api/error-states/GetFileStyles.json
  packages/cuttings/src/__fixtures__/api/figma-api-debug-file/GetFile.json
  packages/cuttings/src/__fixtures__/api/figma-api-debug-file/GetFileComponentSets.json
  packages/cuttings/src/__fixtures__/api/figma-api-debug-file/GetFileComponents.json
  packages/cuttings/src/__fixtures__/api/figma-api-debug-file/GetFileStyles.json
  packages/cuttings/src/__fixtures__/api/surface-new-stories/GetFile.json
  packages/cuttings/src/__fixtures__/api/surface-new-stories/GetFileComponentSets.json
  packages/cuttings/src/__fixtures__/api/surface-new-stories/GetFileComponents.json
  packages/cuttings/src/__fixtures__/api/surface-new-stories/GetFileStyles.json
  packages/cuttings/src/__fixtures__/published.ts
  packages/cuttings/src/__tests__/facet.spec.ts
  packages/cuttings/src/__tests__/hydrate.spec.ts
  packages/cuttings/src/__tests__/take.spec.ts
  packages/cuttings/src/schemas/cutting.ts
  packages/cuttings/src/schemas/facet.ts
Due: none

fix(cuttings): Address thermonuclear review findings
  .gitattributes
  packages/cuttings/package.json
  packages/cuttings/scripts/fetchFixtures.mjs
  packages/cuttings/src/__fixtures__/api/error-states/GetFile.json
  packages/cuttings/src/__fixtures__/api/figma-api-debug-file/GetFile.json
  packages/cuttings/src/__fixtures__/api/surface-new-stories/GetFile.json
  packages/cuttings/src/__tests__/figmaUrl.spec.ts
  packages/cuttings/src/__tests__/fs.spec.ts
  packages/cuttings/src/__tests__/slim.spec.ts
  packages/cuttings/src/figmaUrl.ts
  packages/cuttings/src/fs.ts
  packages/cuttings/src/schemas/cutting.ts
  packages/cuttings/src/slim.ts
Due: none

feat(cuttings): Implement take, hydrate, URL parsing and file slimming
  packages/cuttings/README.md
  packages/cuttings/eslint.config.js
  packages/cuttings/package.json
  packages/cuttings/scripts/fetchFixtures.mjs
  packages/cuttings/src/__fixtures__/api.ts
  packages/cuttings/src/__tests__/figmaUrl.spec.ts
  packages/cuttings/src/__tests__/fs.spec.ts
  packages/cuttings/src/__tests__/hydrate.spec.ts
  packages/cuttings/src/__tests__/index.spec.ts
  packages/cuttings/src/__tests__/logHelpers.spec.ts
  packages/cuttings/src/__tests__/slim.spec.ts
  packages/cuttings/src/__tests__/take.spec.ts
  packages/cuttings/src/figmaUrl.ts
  packages/cuttings/src/fs.ts
  packages/cuttings/src/hydrate.ts
  packages/cuttings/src/index.ts
  packages/cuttings/src/logHelpers.ts
  packages/cuttings/src/schemas/cutting.ts
  packages/cuttings/src/schemas/facet.ts
  packages/cuttings/src/slim.ts
  packages/cuttings/src/take.ts
Due: none

feat(nursery): Build the nursery CLI
  packages/logger/src/__tests__/index.spec.ts
  packages/logger/src/index.ts
  packages/nursery/README.md
  packages/nursery/__mocks__/fs.cjs
  packages/nursery/__mocks__/fs/promises.cjs
  packages/nursery/eslint.config.js
  packages/nursery/package.json
  packages/nursery/prettier.config.js
  packages/nursery/src/__fixtures__/cutting.ts
  packages/nursery/src/__tests__/cli.spec.ts
  packages/nursery/src/__tests__/config.spec.ts
  packages/nursery/src/__tests__/init.spec.ts
  packages/nursery/src/__tests__/plan.spec.ts
  packages/nursery/src/__tests__/refresh.spec.ts
  packages/nursery/src/__tests__/status.spec.ts
  packages/nursery/src/__tests__/take.spec.ts
  packages/nursery/src/cli.ts
  packages/nursery/src/client.ts
  packages/nursery/src/commands/init.ts
  packages/nursery/src/commands/refresh.ts
  packages/nursery/src/commands/status.ts
  packages/nursery/src/commands/take.ts
  packages/nursery/src/config.ts
  packages/nursery/src/index.ts
  packages/nursery/src/plan.ts
  packages/nursery/tsconfig.json
  packages/nursery/tsup.config.ts
  packages/nursery/turbo.json
  packages/nursery/vitest.config.ts
  pnpm-lock.yaml
Due: pkg-logger

fix(nursery): Address thermonuclear review findings
  codecov.yml
  packages/nursery/README.md
  packages/nursery/eslint.config.js
  packages/nursery/schema/nursery.schema.json
  packages/nursery/scripts/generateSchema.mjs
  packages/nursery/src/__fixtures__/cutting.ts
  packages/nursery/src/__tests__/cli.spec.ts
  packages/nursery/src/__tests__/config.spec.ts
  packages/nursery/src/__tests__/init.spec.ts
  packages/nursery/src/__tests__/plan.spec.ts
  packages/nursery/src/__tests__/refresh.spec.ts
  packages/nursery/src/__tests__/schema.spec.ts
  packages/nursery/src/__tests__/status.spec.ts
  packages/nursery/src/__tests__/take.spec.ts
  packages/nursery/src/cli.ts
  packages/nursery/src/commands/init.ts
  packages/nursery/src/commands/refresh.ts
  packages/nursery/src/commands/status.ts
  packages/nursery/src/commands/take.ts
  packages/nursery/src/config.ts
  packages/nursery/src/index.ts
  packages/nursery/src/plan.ts
  packages/nursery/src/schema.ts
  packages/nursery/templates/github-actions-refresh.yml
  packages/nursery/tsup.config.ts
Due: none

feat(nursery): Publish a config JSON schema and a refresh workflow template
  packages/nursery/README.md
  packages/nursery/package.json
  packages/nursery/schema/nursery.schema.json
  packages/nursery/scripts/generateSchema.mjs
  packages/nursery/src/__tests__/schema.spec.ts
  packages/nursery/templates/github-actions-refresh.yml
  pnpm-lock.yaml
Due: none

fix(nursery): Add the missing lint-staged config
  packages/nursery/.lintstagedrc.json
Due: none

feat: Enable releases for cuttings and nursery
  README.md
  TODO.md
  docs/RELEASE_AUTOMATION.md
  multi-release.config.js
  packages/cuttings/README.md
  packages/nursery/README.md
Due: none

fix(nursery): Harden the CircleCI template's change detection and push
  packages/nursery/templates/circleci-refresh.yml
Due: none

feat(nursery): Add a CircleCI refresh workflow template
  packages/nursery/README.md
  packages/nursery/templates/circleci-refresh.yml
Due: none

fix(nursery): Correct the skill's exit-code and token guidance
  packages/nursery/templates/claude-skill/figma-cuttings/SKILL.md
Due: none

feat(nursery): Ship a Claude Code skill wrapping the CLI
  packages/nursery/README.md
  packages/nursery/templates/claude-skill/figma-cuttings/SKILL.md
Due: none

feat: serve compatible REST API calls from cuttings
  packages/cuttings/README.md
  packages/cuttings/src/__fixtures__/mockedClient.ts
  packages/cuttings/src/__tests__/attach.spec.ts
  packages/cuttings/src/__tests__/hydrate.spec.ts
  packages/cuttings/src/__tests__/take.spec.ts
  packages/cuttings/src/attach.ts
  packages/cuttings/src/index.ts
  packages/cuttings/src/schemas/facet.ts
  packages/nursery/README.md
  packages/nursery/src/__tests__/connect.spec.ts
  packages/nursery/src/connect.ts
  packages/nursery/src/index.ts
  packages/rest/src/__tests__/interceptors.spec.ts
  packages/rest/src/interceptors.ts
Due: pkg-rest

fix: harden cutting serving against cache, aliasing and coherence bugs
  packages/cuttings/README.md
  packages/cuttings/src/__tests__/attach.spec.ts
  packages/cuttings/src/__tests__/fs.spec.ts
  packages/cuttings/src/attach.ts
  packages/cuttings/src/schemas/cutting.ts
  packages/nursery/src/__tests__/plan.spec.ts
  packages/nursery/src/connect.ts
  packages/nursery/src/plan.ts
  packages/rest/src/__tests__/interceptors.spec.ts
  packages/rest/src/client.ts
  packages/rest/src/interceptors.ts
Due: pkg-rest

docs: add a high-level architecture overview of the monorepo
  README.md
  docs/ARCHITECTURE.md
Due: none

ci: add a one-off workflow to seed 0.x release tags
  .github/workflows/seed-release-tags.yml
Due: none

ci: set explicit GITHUB_TOKEN permissions on workflows
  .github/workflows/continuous-integration.yml
  .github/workflows/semantic-release.yml
Due: none
