Repository Sidnioulz/figmarine: changes, and which Codecov flags are due for each by the changed paths.
All: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

chore: Add codecov components
  codecov.yml
Due: none

docs(cache): Add README
  packages/cache/README.md
Due: pkg-cache

docs(cache): Fix README shortcut link
  packages/cache/README.md
Due: pkg-cache

docs(cache): Fix README shortcut links
  packages/cache/README.md
Due: pkg-cache

docs(logger): Add README
  packages/logger/README.md
Due: pkg-logger

fix(rest): Update to use new cache package
  packages/rest/src/client.ts
Due: pkg-rest

style: Sort imports
  packages/cache/src/index.ts
  packages/config-eslint/shared.js
  packages/eslint-plugin-figma/eslint.config.js
  packages/eslint-plugin-figma/src/index.ts
  packages/rest/scripts/regenFigmaRestApi.mjs
  packages/rest/src/client.ts
  packages/rest/src/index.ts
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-rest

docs(rest): Add README
  packages/rest/README.md
Due: pkg-rest

WIP
  packages/cuttings/README.md
  packages/cuttings/eslint.config.js
  packages/cuttings/package.json
  packages/cuttings/prettier.config.js
  packages/cuttings/src/__tests__/index.spec.ts
  packages/cuttings/src/index.ts
  packages/cuttings/tsconfig.json
  packages/cuttings/tsup.config.ts
  packages/cuttings/turbo.json
  packages/cuttings/typedoc.config.js
Due: none

docs: Store CC images for later use in READMEs
  static/cutting-a-ccbysa3-Biusch.jpg
  static/cutting-b-ccby3-Jonn-Leffmann.jpg
  static/nursery-a-unsplash-Mike-Enerio.avif
  static/nursery-b-unsplash-Andrej-Lišakov.avif
Due: none

chore(config-vitest): Add vitest config package
  package.json
  packages/config-vitest/index.js
  packages/config-vitest/package.json
  packages/config-vitest/turbo.json
  pnpm-lock.yaml
  vitest.workspace
Due: none

docs(readme): Improve bug report URL
  README.md
Due: none

fix(cache): Export diskCache prop type and add typedoc config
  packages/cache/README.md
  packages/cache/src/index.ts
  packages/cache/typedoc.config.js
Due: pkg-cache

test(cache): Port to vitest
  packages/cache/package.json
  packages/cache/src/__tests__/constants.spec.ts
  packages/cache/src/__tests__/index.spec.ts
  packages/cache/vitest.config.ts
Due: pkg-cache

chore(vitest): Add Vitest globals to TS config
  packages/config-typescript/library.json
Due: none

chore(config-typedoc): Add typedoc config package
  packages/config-typedoc/index.js
  packages/config-typedoc/package.json
  packages/config-typedoc/turbo.json
  packages/eslint-plugin-figma/typedoc.config.js
  packages/logger/typedoc.config.js
  packages/rest/typedoc.config.js
  pnpm-lock.yaml
Due: pkg-eslint-plugin-figma, pkg-logger, pkg-rest

docs(logger): Add roadmap items to README
  packages/logger/README.md
Due: pkg-logger

test: Move other packages to vitest
  packages/eslint-plugin-figma/package.json
  packages/eslint-plugin-figma/src/__tests__/index.spec.ts
  packages/eslint-plugin-figma/vitest.config.ts
  packages/logger/package.json
  packages/logger/src/__tests__/index.spec.ts
  packages/logger/vitest.config.ts
Due: pkg-eslint-plugin-figma, pkg-logger

chore(cuttings): Ignore cutting files
  .gitignore
Due: none

docs(eslint-plugin-figma): Update README
  packages/eslint-plugin-figma/README.md
Due: pkg-eslint-plugin-figma

feat(rest): Add first rate limiter implementation
  packages/rest/README.md
  packages/rest/package.json
  packages/rest/scripts/regenFigmaRestApi.mjs
  packages/rest/src/__generated__/figmaRestApi.ts
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/__tests__/index.spec.ts
  packages/rest/src/__tests__/rateLimit.spec.ts
  packages/rest/src/client.ts
  packages/rest/src/index.ts
  packages/rest/src/rateLimit.config.ts
  packages/rest/src/rateLimit.ts
  packages/rest/src/types/file.ts
  packages/rest/vitest.config.ts
Due: pkg-rest

chore(eslint): Support vitest
  .gitignore
  packages/config-eslint/package.json
  packages/config-eslint/shared.js
  pnpm-lock.yaml
Due: none

feat(rest): Add first rate limiter implementation
  .gitignore
  TODO.md
  packages/config-jest-presets/shared.js
  packages/rest/src/__tests__/index.spec.ts
  packages/rest/src/__tests__/rateLimit.spec.ts
  packages/rest/src/client.ts
  packages/rest/src/rateLimit.config.ts
  packages/rest/src/rateLimit.ts
  pnpm-lock.yaml
Due: pkg-rest

chore(jest): Remove jest preset in favour of vitest
  README.md
  packages/config-jest-presets/browser/jest-preset.js
  packages/config-jest-presets/node/jest-preset.js
  packages/config-jest-presets/package.json
  packages/config-jest-presets/turbo.json
  packages/config-typescript/package.json
Due: none

feat(cuttings): Add first draft of the cuttings package
  .gitignore
  packages/cuttings/README.md
  packages/cuttings/eslint.config.js
  packages/cuttings/package.json
  packages/cuttings/prettier.config.js
  packages/cuttings/src/__tests__/index.spec.ts
  packages/cuttings/src/fs.ts
  packages/cuttings/src/index.ts
  packages/cuttings/src/logHelpers.ts
  packages/cuttings/src/schemas/cutting.ts
  packages/cuttings/src/schemas/facet.ts
  packages/cuttings/src/take.ts
  packages/cuttings/tsconfig.json
  packages/cuttings/tsup.config.ts
  packages/cuttings/turbo.json
  packages/cuttings/typedoc.config.js
  packages/cuttings/vitest.config.ts
  pnpm-lock.yaml
Due: none

test(cuttings): Add UTs
  packages/config-vitest/index.js
  packages/cuttings/__mocks__/fs.cjs
  packages/cuttings/__mocks__/fs/promises.cjs
  packages/cuttings/package.json
  packages/cuttings/src/__fixtures__/cuttings.ts
  packages/cuttings/src/__fixtures__/users.ts
  packages/cuttings/src/__tests__/fs.spec.ts
  packages/cuttings/src/__tests__/index.spec.ts
  packages/cuttings/src/__tests__/logHelpers.spec.ts
  pnpm-lock.yaml
Due: none

chore(eslint): Ensure proper linting of test files
  packages/config-eslint/shared.js
Due: none

chore(cache,rest): Add commands to build local debug files
  packages/cuttings/package.json
  packages/rest/package.json
Due: pkg-rest

test(cuttings): Make index test less useless
  packages/cuttings/src/__tests__/index.spec.ts
Due: none

fix(client): Fix typing issue in auth tokens
  packages/rest/src/client.ts
Due: pkg-rest

docs(readme): Update showcases
  README.md
Due: none

docs(rest): Move roadmap to GH issues
  packages/rest/README.md
Due: pkg-rest

docs(readme): Minor edits
  README.md
Due: none

style(cache): Prettify code
  packages/cache/src/index.ts
Due: pkg-cache

feat(cache): Port to cacheable and reach 100% coverage
  packages/cache/__mocks__/fs.cjs
  packages/cache/__mocks__/fs/promises.cjs
  packages/cache/package.json
  packages/cache/src/__tests__/index.spec.ts
  packages/cache/src/constants.ts
  packages/cache/src/index.ts
  packages/rest/src/client.ts
  pnpm-lock.yaml
Due: pkg-cache, pkg-rest

style(eslint-plugin-figma): Fix linting issues
  packages/eslint-plugin-figma/src/__tests__/index.spec.ts
  turbo.json
Due: pkg-eslint-plugin-figma

test: Switch to istanbul reporter
  packages/cache/package.json
  packages/config-vitest/index.js
  packages/cuttings/package.json
  packages/eslint-plugin-figma/package.json
  packages/logger/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

refactor(rest): Split code for better testability and add tests
  packages/rest/__mocks__/fs.cjs
  packages/rest/__mocks__/fs/promises.cjs
  packages/rest/package.json
  packages/rest/src/__fixtures__/fileRequest.ts
  packages/rest/src/__fixtures__/storage.ts
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/__tests__/index.spec.ts
  packages/rest/src/__tests__/interceptors.spec.ts
  packages/rest/src/__tests__/rateLimit.spec.ts
  packages/rest/src/__tests__/securityWorker.spec.ts
  packages/rest/src/__tests__/storage.spec.ts
  packages/rest/src/client.ts
  packages/rest/src/interceptors.ts
  packages/rest/src/rateLimit.ts
  packages/rest/src/securityWorker.ts
  packages/rest/src/storage.ts
  pnpm-lock.yaml
Due: pkg-rest

Path conditions:
  pkg-cache: any of: packages/cache/
  pkg-eslint-plugin-figma: any of: packages/eslint-plugin-figma/
  pkg-logger: any of: packages/logger/
  pkg-rest: any of: packages/rest/
