Repository Sidnioulz/figmarine: changes, and which Codecov flags are due for each by the changed paths.
All: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

chore: Run tests with coverage for upload to codecov
  .github/workflows/continuous-integration.yml
  package.json
  turbo.json
Due: none

refactor(rest): Split code for better testability and add tests
  packages/rest/__mocks__/fs.cjs
  packages/rest/__mocks__/fs/promises.cjs
  packages/rest/package.json
  packages/rest/src/__fixtures__/fileRequest.ts
  packages/rest/src/__fixtures__/storage.ts
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/__tests__/index.spec.ts
  packages/rest/src/__tests__/interceptors.spec.ts
  packages/rest/src/__tests__/rateLimit.spec.ts
  packages/rest/src/__tests__/securityWorker.spec.ts
  packages/rest/src/__tests__/storage.spec.ts
  packages/rest/src/client.ts
  packages/rest/src/interceptors.ts
  packages/rest/src/rateLimit.ts
  packages/rest/src/securityWorker.ts
  packages/rest/src/storage.ts
  pnpm-lock.yaml
Due: pkg-rest

test: Switch to istanbul reporter
  packages/cache/package.json
  packages/config-vitest/index.js
  packages/cuttings/package.json
  packages/eslint-plugin-figma/package.json
  packages/logger/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

test: Ensure FS tests run on iOS
  packages/cache/src/__tests__/constants.spec.ts
  packages/rest/src/__tests__/client.spec.ts
Due: pkg-cache, pkg-rest

chore(config-vitest): Split unit and integ and add TS decls
  packages/config-vitest/index.js
  packages/config-vitest/integration.js
  packages/config-vitest/package.json
  packages/config-vitest/shared.js
  packages/config-vitest/tsconfig.json
  packages/config-vitest/unit.js
Due: none

chore(config-tsup): Add TS decls
  packages/config-tsup/package.json
  packages/config-tsup/tsconfig.json
Due: none

chore(config-eslint): Add TS decls
  packages/config-eslint/package.json
  packages/config-eslint/tsconfig.json
Due: none

chore(vitest): Fix vitest workspace file name
  vitest.workspace.ts
Due: none

feat(rest): Add auto-retry on 429
  packages/cache/package.json
  packages/cuttings/package.json
  packages/eslint-plugin-figma/package.json
  packages/logger/package.json
  packages/rest/package.json
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/client.ts
  packages/rest/src/rateLimit.config.ts
  packages/rest/src/rateLimit.ts
  pnpm-lock.yaml
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

chore: Add husky and lint-staged
  .husky/pre-commit
  .lintstagedrc
  package.json
  packages/cache/.lintstagedrc
  packages/cache/package.json
  packages/cuttings/.lintstagedrc
  packages/cuttings/package.json
  packages/eslint-plugin-figma/.lintstagedrc
  packages/eslint-plugin-figma/package.json
  packages/logger/.lintstagedrc
  packages/logger/package.json
  packages/rest/.lintstagedrc
  packages/rest/package.json
  pnpm-lock.yaml
  turbo.json
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

refactor: Remove dead code
  packages/cache/src/declarations.d.ts
Due: pkg-cache

fix(cache): Rename diskCache to cache to make it storage-agnostic
  packages/cache/src/index.ts
Due: pkg-cache

feat(rest): Extract cache instance and expose it to callees
  packages/cache/src/__tests__/index.spec.ts
  packages/rest/package.json
  packages/rest/src/__tests__/cache.spec.ts
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/__tests__/interceptors.spec.ts
  packages/rest/src/__tests__/rateLimit.config.spec.ts
  packages/rest/src/__tests__/storage.spec.ts
  packages/rest/src/cache.ts
  packages/rest/src/client.ts
  packages/rest/src/interceptors.ts
  packages/rest/src/rateLimit.config.ts
  packages/rest/src/storage.ts
  pnpm-lock.yaml
Due: pkg-cache, pkg-rest

chore(deps): Update dependencies
  package.json
  packages/cache/package.json
  packages/config-eslint/package.json
  packages/config-tsup/package.json
  packages/config-typedoc/package.json
  packages/config-vitest/package.json
  packages/cuttings/package.json
  packages/eslint-plugin-figma/package.json
  packages/logger/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

feat(rest): Add more fine-grained options for rate limit control
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/client.ts
Due: pkg-rest

refactor(rest): Simplify use of cache instance in interceptors
  packages/rest/src/__tests__/interceptors.spec.ts
  packages/rest/src/client.ts
  packages/rest/src/interceptors.ts
Due: pkg-rest

fix(rest): Clear RL req queue when entirely stale
  packages/rest/src/__tests__/rateLimit.spec.ts
  packages/rest/src/rateLimit.ts
Due: pkg-rest

feat(rest): Add cache invalidation and improve cache testing
  packages/rest/package.json
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/__tests__/interceptors.spec.ts
  packages/rest/src/cache.ts
  packages/rest/src/client.ts
  packages/rest/src/interceptors.ts
  packages/rest/src/types/utils.ts
  pnpm-lock.yaml
Due: pkg-rest

fix(cache): Make fs cache shutdown safer
  packages/cache/src/index.ts
Due: pkg-cache

chore(release): Add release scripts
  multi-release.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release.config.js
Due: none

chore(release): Iterate on release config
  .gitignore
  release.config.js
Due: none

chore(release): Mark some packages as not ready yet for release
  multi-release.config.js
Due: none

docs(readme): Fix wrong heading
  README.md
Due: none

docs: Add copyright holder name and date
  LICENSE
Due: none

Path conditions:
  pkg-cache: any of: packages/cache/
  pkg-eslint-plugin-figma: any of: packages/eslint-plugin-figma/
  pkg-logger: any of: packages/logger/
  pkg-rest: any of: packages/rest/
