Repository Sidnioulz/figmarine: changes, and which Codecov flags are due for each by the changed paths.
All: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

codecov.yml:

component_management:
  default_rules:
    paths:
      - "apps/*"
      - "packages/*"

flags:
  pkg-cache:
    paths:
      - packages/cache/
  pkg-eslint-plugin-figma:
    paths:
      - packages/eslint-plugin-figma/
  pkg-logger:
    paths:
      - packages/logger/
  pkg-rest:
    paths:
      - packages/rest/

docs(rest): Update README
  packages/rest/README.md
Due: pkg-rest

fix(rest): Find a roundabout way to sync the upstream OAS
  packages/rest/package.json
  packages/rest/scripts/regenFigmaRestApi.mjs
  packages/rest/src/__generated__/figmaRestApi.ts
  pnpm-lock.yaml
Due: pkg-rest

chore(release): Add release workflow file
  .github/workflows/semantic-release.yml
Due: none

chore(release): Switch to commitless config
  release.config.js
Due: none

docs(cache): Fix up README
  packages/cache/README.md
Due: pkg-cache

chore(cache): Make package releasable
  packages/cache/package.json
Due: pkg-cache

chore(logger): Make package releasable
  packages/logger/package.json
Due: pkg-logger

chore(rest): Clarify that this package is versioned outside Git
  packages/rest/package.json
Due: pkg-rest

chore(release): Run PNPM changes before GitHub
  release.config.js
Due: none

chore(release): Attempt to fix the pnpm publish issue
  .npmrc
  release.config.js
Due: none

chore(release): Further adjust PNPM behaviour
  .npmrc
  package.json
Due: none

Notes added by 'git notes add'
  591c8e50447005355f6c4e760194e1cd77a51c10
Due: none

chore(release): Allow NPM publishing
  release.config.js
Due: none

Notes added by 'git notes add'
  cc47dddc2b501d880f27d4952e6952af8863f29c
Due: none

chore(release): Clarify publish access level
  packages/cache/package.json
  packages/cuttings/package.json
  packages/eslint-plugin-figma/package.json
  packages/logger/package.json
  packages/rest/package.json
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

Notes added by 'git notes add'
  c90e5d3564cb19d65ec398c5954e2f39cc2abe84
Due: none

chore(deps): Fix missing tsc ref in a config package
  packages/config-eslint/package.json
  pnpm-lock.yaml
Due: none

docs(rest): Change package description
  packages/rest/package.json
Due: pkg-rest

fix(cache): Build during publish
  packages/cache/package.json
Due: pkg-cache

fix(cuttings): Build during publish
  packages/cuttings/package.json
Due: none

fix(eslint-plugin-figma): Build during publish
  packages/eslint-plugin-figma/package.json
Due: pkg-eslint-plugin-figma

fix(logger): Build during publish
  packages/logger/package.json
Due: pkg-logger

fix(rest): Build during publish
  packages/rest/package.json
Due: pkg-rest

Notes added by 'git notes add'
  0199e80105748d304580b8fe4d3a8a7e0271951e
Due: none

feat(rest): Add unique user-agent to requests
  packages/rest/src/__tests__/interceptors.spec.ts
  packages/rest/src/client.ts
  packages/rest/src/interceptors.ts
Due: pkg-rest

Notes added by 'git notes add'
  a320342e8df0146c9cac9a81939b52056cc515ad
Due: none
