Repository Sidnioulz/figmarine: changes, and which Codecov flags are due for each by the changed paths.
All: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

codecov.yml:

component_management:
  default_rules:
    paths:
      - "apps/*"
      - "packages/*"

flags:
  pkg-cache:
    paths:
      - packages/cache/
  pkg-eslint-plugin-figma:
    paths:
      - packages/eslint-plugin-figma/
  pkg-logger:
    paths:
      - packages/logger/
  pkg-rest:
    paths:
      - packages/rest/

chore(deps): Update lockfile
  pnpm-lock.yaml
Due: none

chore(deps-devs): Update minor dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Update all package dependencies
  packages/cache/package.json
  packages/config-eslint/package.json
  packages/config-tsup/package.json
  packages/config-typedoc/package.json
  packages/config-vitest/package.json
  packages/cuttings/package.json
  packages/logger/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: pkg-cache, pkg-logger, pkg-rest

chore(deps): Update dependencies
  package.json
  packages/eslint-plugin-figma/package.json
  packages/logger/package.json
  pnpm-lock.yaml
Due: pkg-eslint-plugin-figma, pkg-logger

chore(release): Revert "chore(release): Port to GitLab CI"
  .github/workflows/automerge-dependabot.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/semantic-release.yml
  .gitlab-ci.yml
  turbo.json
  vitest.workspace.ts
Due: none

chore(deps): Increase dependabot frequency
  .github/dependabot.yml
Due: none

feat(rest): Update OpenAPI Spec generated code
  packages/rest/src/__generated__/Api.ts
Due: pkg-rest

chore(deps): Update lockfile
  package.json
  pnpm-lock.yaml
Due: none

chore: Tell semantic-release job to create npmrc
  .github/workflows/semantic-release.yml
Due: none

chore: Centralise workspace config
  package.json
  pnpm-workspace.yaml
Due: none

chore: Revert "chore: Centralise workspace config"
  package.json
  pnpm-workspace.yaml
Due: none

chore: Align both workspace configs
  package.json
Due: none

chore: Fiddle with deps to help s-r build
  package.json
  pnpm-lock.yaml
Due: none

chore: Fiddle with deps to help s-r build
  pnpm-lock.yaml
Due: none

chore: Attempt change to CI npmrc
  .github/workflows/semantic-release.yml
Due: none

Notes added by 'git notes add'
  2c5cfacc5bbffe5e120f019cb792332c3816c8d8
Due: none

feat(rest): Update OpenAPI spec to 0.31.0
  packages/rest/package.json
  packages/rest/src/__generated__/Api.ts
  pnpm-lock.yaml
Due: pkg-rest

Notes added by 'git notes add'
  96bc8f488f8a14f41fd5cec0c305fe3eb2fe73c1
Due: none

chore(deps): Fix outdated lockfile
  pnpm-lock.yaml
Due: none

feat: Update dependencies to latest majors
  .github/workflows/automerge-dependabot.yml
  package.json
  packages/cache/package.json
  packages/config-eslint/package.json
  packages/config-eslint/shared.js
  packages/config-tsup/package.json
  packages/config-typedoc/index.js
  packages/config-typedoc/package.json
  packages/config-typedoc/turbo.json
  packages/config-vitest/package.json
  packages/cuttings/package.json
  packages/eslint-plugin-figma/package.json
  packages/eslint-plugin-figma/src/index.ts
  packages/logger/package.json
  packages/rest/package.json
  packages/rest/src/__generated__/Api.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

Notes added by 'git notes add'
  eedcb46f554690eb49eb35bd7480da3026f85722
Due: none

style: Fix JSON formatting
  packages/logger/package.json
Due: pkg-logger

style: Fix JSON formatting
  packages/cache/package.json
  packages/cuttings/package.json
Due: pkg-cache

fix: Clarify minimum Node version requirement (22.16)
  packages/config-eslint/shared.js
  packages/rest/package.json
Due: pkg-rest

Notes added by 'git notes add'
  12ea93155ff670c6c39fa2d54049adcc100d09b0
Due: none

feat: Upgrade toolchain to ESLint 10, TypeScript 6, Vitest 4 and pnpm 11
  .lintstagedrc.json
  .npmrc
  package.json
  packages/cache/.lintstagedrc.json
  packages/cache/package.json
  packages/config-eslint/package.json
  packages/config-eslint/shared.js
  packages/config-typescript/library.json
  packages/config-vitest/integration.js
  packages/config-vitest/package.json
  packages/config-vitest/shared.js
  packages/cuttings/.lintstagedrc.json
  packages/cuttings/package.json
  packages/eslint-plugin-figma/.lintstagedrc.json
  packages/eslint-plugin-figma/package.json
  packages/logger/.lintstagedrc.json
  packages/logger/package.json
  packages/rest/.lintstagedrc.json
  packages/rest/package.json
  packages/rest/src/__tests__/cache.spec.ts
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/__tests__/interceptors.spec.ts
  packages/rest/src/__tests__/rateLimit.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
  vitest.workspace.ts
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest

feat(rest): Update to Figma OpenAPI spec 0.41 and fix release automation
  .github/dependabot.yml
  .github/workflows/automerge-dependabot.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/semantic-release.yml
  README.md
  docs/RELEASE_AUTOMATION.md
  package.json
  packages/cache/package.json
  packages/cuttings/package.json
  packages/eslint-plugin-figma/package.json
  packages/logger/package.json
  packages/rest/package.json
  packages/rest/scripts/regenFigmaRestApi.mjs
  packages/rest/src/__generated__/Api.ts
  packages/rest/src/__generated__/figmaRestApi.ts
  packages/rest/src/__tests__/client.spec.ts
  packages/rest/src/client.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pkg-cache, pkg-eslint-plugin-figma, pkg-logger, pkg-rest
